.text-center {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.btn.btn-primary {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border: 3px solid #03dac6;
  background-color: #262323;
  color: #03dac6;
}

p {
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
}

.bt1 {
  top: 45%;
}

.btn.btn-primary.bt2 {
  top: 57%;
}

